.listTabItem {
  list-style-type: none;
}

.tab-button {
  border: none;
  background-color: transparent;
  color: #7b8794;
  border: none;
  height: 35px;
  width: 80px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 2px solid #dfe2e5;
}

.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
